<!doctype html>
<title>Results | Graph Calculator</title>

<script>document.getElementById('image').contentWindow.location.reload();</script>

<a href="/"><strong>&larr; Back</strong></a>

<div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes list-style="none">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>

<object type="image/svg+xml" data="{{ url_for('static', filename='chart.svg') }}">
  Your browser does not support SVG
</object>
<!--<img src="{{ url_for('static', filename='chart.png') }}" />-->
<!--<iframe width="800" height="600" id="image" scrolling="false" src="/get_image" />-->
{% block body %}{% endblock %}
